input{
  display: none;
}
label {
  color: #0087cc;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
}
label:hover {
  color: #ff7b29;
}
nav {
display: none;
}


input:checked ~ nav:first-of-type {
  display: block;
}