 body{
	background:#B3B3B3;
	margin:2%;
	font-size: 150%;

}

header{
	background: #00b7ea;
	text-align: center;
	padding-bottom: 15px;
}

h1{
	color: #ffffff;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 150%;
}

h2{
	color: #666666;
	background: #00b7ea;
}

section{
	width:30%;
	margin-right: 2%;
	display:inline-block;
	float:left;
}

summary{
	font-style:normal;
}

details{
	font-style: italic;
}

footer{
	height:100px;
	clear: both;
}

img{
	width: 75px;
}


