/* 
Together-1
 */
body{
	background:#B3B3B5;
	font-size: 145%;

}

header{
	background: #b78d2366;
	text-align: center;
}
a{
	color: #123456
}
h1{
	color: #ffffff;
	background: #111111
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Times New Roman", serif;
	font-size: 150%;
}

h2{
	color: #666666;
	background: #00b7ea;
}


summary{
	font-style: normal;
}

details{
	font-style: italic;
}
img{
	/*border: inset;
	border-color:  #00b7ea;
	border-width: 10px;*/

	/*or*/
	
	border:15px inset #00b7ea  ;
}


footer{
	display: inline-block;
	background: #666666
}

